{
  "presets": ["react-app/prod", "flow"],
  "env":{
    "test":{
      "presets":[[
        "env",
        {
          "targets": {
            "node":"current"
          }
        }
      ]]
    }
  }
}
