registry=https://bams-aws.refinitiv.com/artifactory/api/npm/default.npm.global
_auth="b2xla3NhbmRyLmtvdnR1bjpBUDJuSjIzTGk4VFdOZFY2OGNORW1YUGt1NG12NEdhRm05NzlBVA=="
always-auth=true
email=anton.zhukovtsov@thomsonreuters.com
