.date {
    background: #fcfff6;
    min-height:100px;
    display:flex;
    justify-content: center;
    flex-direction:column;
    padding: 50px;
}

.test {
    border:2px solid #5275ff;
    margin-bottom:5px;
}